<!-- <p>videos works!</p>
<button (click)="onClick()">click</button> -->
<div class="container my-3">
  <div class="row">
    <div class="col-3 titlesContainer text-center">
      <div *ngFor="let video of videos">
        <button class="videoName bg-white m-2" (click)="playVideo(video.url)">
          {{video.name}}
        </button>
      </div>
    </div>
    <div class="col-9">
      <div class="video">
        <!-- <video controls #videoPlayer id="video">
            <source src="{{videoUrl}}" type="video/mp4" />
            Browser not supported
        </video> -->
        <div *ngIf="videoUrl">
          <video controls height="500px" width="700px">
            <source [src]="videoUrl" type="video/mp4">
          </video>
        </div>
    </div>
    </div>
  </div>
</div>
